<div class="container-fluid text-center pb-5">
  <div style="text-align:center" id="myDI">
    <h1>
      Welcome to {{title}}!
    </h1>
    
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-spinner fa-spin"></i><a routerLink="home">Home</a></li>
      <li><i class="fa-li fa fa-spinner fa-spin"></i><a routerLink="about">About</a></li>
      <li><i class="fa-li fa fa-spinner fa-spin"></i><a routerLink="login">login</a></li>
      
    </ul>
    
  <router-outlet>


  </router-outlet>
  
  </div>
</div>

